@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://fonts.cdnfonts.com/css/sabon');

@charset "UTF-8";

html { font-size: 16px; }

h1,h2,h3 {
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: "Sabon", serif;
  font-size: 1em;
  background-color: #f3f7ff;
  
}
h1 {
  font-size: 2.4em;
  font-family: "Avenir Next", sans-serif;
}

h2 {
  font-size: 1.6em;
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  color: #000;
}

h3 {
  font-size: 1.8em;
  font-family: "Avenir Next", sans-serif;
}
hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 3px solid #d74e45;
    margin: 1em 0;
    padding: 0;
}
a:link {
    text-decoration-color: #d74e45;
    text-underline-offset: 3px;
}

a:visited {
    text-decoration-color: #d74e45;
}

a:hover {
    color: #d74e45;
}

a:active {
    color: #d74e45;
}
