@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://use.typekit.net/uds6lpa.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@charset "UTF-8";

html { font-size: 14px; }

h1,h2,h3 {
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  
}
h1 {
  font-size: 2.4em;
  font-family: "Sanchez", sans-serif;
}

h2 {
  font-size: 1.6em;
  font-family: "Sanchez", sans-serif;
  text-transform: uppercase;
  color: #8B0000;
}

h3 {
  font-size: 1.8em;
  font-family: "Sanchez", sans-serif;
}

a:link {
    text-decoration: underline;
    color: #7B1818;
}

a:visited {
    text-decoration: underline;
    color: ##7B1818;
}

a:hover {
    text-decoration: underline;
    color: ##7B1818;
    
a:active {
    text-decoration: underline;  
    color: ##7B1818;
}